@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body{
   background: url('../img/background-bags-suitcases-17716463.jpg');
   font-family: "Jost";
}
html,body{
   height: 100%;
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.header__body{
   min-height: 60px;
}
.header-items__title{
   display: block;
   max-width: 100px;
   padding-top: 9px;
   margin: 0px auto;
   font-size: 28px;
   color: black;
   font-weight: 700;
   transition: 0.4s;
   text-shadow: 6px 4px 3px rgb(82, 78, 78);
}
.header-items__title:hover{
   transform: scale(1.2);
}
.main{
   flex: 1 1 auto;
   margin: 0px auto;
}
.footer-body{
   min-height: 100px;
   background-color: rgb(62, 62, 68);
   color: aliceblue;
   padding: 8px 17px;
}
.footer-column{
   display: flex;
   justify-content: space-between;
}
.section-one__item{
   font-size: 22px;
   background: url('../img/1200px-Ic_phone_android_48px.svg..png')0 3px/25px 25px no-repeat;
   padding-left: 25px;
   text-shadow: 2px 2px 3px rgba(131, 128, 128, 0.6);
   margin-bottom: 8px;
}
.section-one__body{
   padding-top: 10px;
}
.section-one__link{
   font-size: 22px;
   color: aliceblue;
   background: url('../img/whatsapp-3.svg')0 0/25px 25px no-repeat;
   padding-left: 27px;
   text-shadow: 2px 2px 3px rgba(131, 128, 128, 0.6);
   transition: 0.6s;
}
.section-one__link:hover{
   color: rgb(72, 129, 75);
   transform: scale(1.2);
}
.section-two{
   font-style: italic;
}
.section-three__item{
   padding-top: 20px;
}
.section-three__link{
   font-size: 22px;
   color: aliceblue;
   padding-left: 27px;
   background: url('../img/Instagram.svg.png')0 3px/25px 25px no-repeat;
   transition: 0.6s;
}
.section-three__link:hover{
   color: rgb(224, 75, 49);
   transform: scale(1.2);
}